{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>tweets map demo</title>
    <link rel="stylesheet" href="{% static "cartography/jquery-jvectormap-2.0.3.css" %}" type="text/css" media="screen"/>
    <script src="{% static "cartography/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "cartography/jquery-jvectormap-2.0.3.min.js" %}"></script>
    <script src="{% static "cartography/jquery-jvectormap-world-mill.js" %}"></script>
    <style>
      #tweets {
        height: 600px;
        width: 400px;
        overflow-y: auto;
        display: inline-block;
      }
      .country-list {
          font-weight: bold;
      }
    </style>
  </head>
  <body>

    {% comment %}
    <div id="tweets">
      <a class="twitter-timeline"
        href="https://twitter.com/MaplecroftRisk"
        data-width="400"
        data-height="600"
        data-tweet-limit="10">
        Tweets by MaplecroftRisk
      </a>
      <script id="tweetjs" async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <span id="world-map" style="display: inline-block; width: 900px; height: 600px;"></span>
    <script>
      var tweets = {
        {% for country in countries %}
        "{{ country }}": [
          {% for tweet in countries.country %}
            "{{tweet.text}}",
          {% endfor %}
        ],

        {% endfor %}
      };

      var countries = {
        {% for country in countries %}
          "{{ country }}": 0,
        {% endfor %}
      };

      $('#world-map').vectorMap({
        map: 'world_mill',
        series: {
          regions: [{
            values: countries,
            scale: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial'
          }]
        },
        onRegionTipShow: function(e, el, code) {
          var messages = tweets.hasOwnProperty(code)? tweets[code]: [];
          var message = ''
          for (var i = 0; i < messages.length; i++) {
            message += messages[i] + '<br /><br />';
          }
          el.html(message + ' (' + el.html() + ')');
        }
      });


    </script>
    {% endcomment %}
    <ul>
      {% for tweet in tweets %}
      <li>{{ tweet.text }}
          {% if tweet.countries %}<span class="country-list">(
          {% for country in tweet.countries %}
          {{country}}{% if not forloop.last %},{% endif %}{% endfor %}
          )</span>
          {% endif %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
